<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Tarefas</a></li>
      <li><a href="badges.html">Custos</a></li>
      <li><a href="collapsible.html">Horas</a></li>
    </ul>
  </div>
</nav>


<div ui-view></div>  


<!-- <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="{{user.cor}} white-text" ng-repeat="user in users">
                <b href="#" style="font-size: 16px;">{{user.nome}}</b>
            </li>
        </ul>
    </div>
</div> -->