<nav class="navbar navbar-default blue darken-1" ng-controller="menuCtrl">
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- <a class="navbar-brand" style="margin-left:125px;" href="#">WP</a> -->
    </div>

    <div class="collapse navbar-collapse" style="margin-left:155px;" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li style="width:190px; border-right:1px solid white" ng-repeat="day in week"><a href="#"><b>{{day}}</b></a></li>
      </ul>
    </div>
    
  </div>
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="{{user.cor}} white-text" ng-repeat="user in users">
                <b href="#" style="font-size: 16px;">{{user.nome}}</b>
            </li>
        </ul>
    </div>
</div>


<div style="margin-left:150px;" ui-view></div>  