<div class="user" ng-controller="homeCtrl">

<div class="row">

    <div class="row">


    <div class="collection red white-text col s3">
      <li class="collection-header"><h4>Horas</h4></li>
    </div>

    <div class="collection blue white-text col s6">
       <li class="collection-header"><h4>Horas</h4></li>
    </div>

    <div class="collection green white-text col s3">
       <li class="collection-header"><h4>Horas</h4></li>
    </div>

      <div class="col s3">
        <div class="card">
          <div class="card-content">
             <div class="row">
              <div class="input-field">
                <input value="" ng-model="oHora.descricao" type="text" placeholder="Descrição" class="validate col s5">
                <input value="" ng-model="oHora.horas" type="text" placeholder="Horas" class="validate col s5">                
                <button class="btn red col s2" ng-click="sendHora(oHora)"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>           

      <div class="col s6">
        <div class="card">
          <div class="card-content">
             <div class="row">
              <div class="input-field">
                <input value="" ng-model="oTarefa.descricao" type="text" placeholder="Descrição" class="validate col s5">
                <input value="" ng-model="oTarefa.dia" type="text" placeholder="Data" class="validate col s5">
                <button class="btn blue col s2" ng-click="sendTarefa(oTarefa)"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>       

      <div class="col s3">
        <div class="card">
          <div class="card-content">
             <div class="row">             
              <div class="input-field">
                <input value="" ng-model="oCusto.descricao" type="text" placeholder="Descrição" class="validate col s5">
                <input value="" ng-model="oCusto.valor" type="text" placeholder="Valor" class="validate col s5">
                <button class="btn green col s2" ng-click="sendCusto(oCusto)"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="collection col s3">
      <a href="#!" ng-repeat="hora in horas" class="collection-item">{{hora.descricao}}
      <span class="red new badge" data-badge-caption="">{{hora.horas}}</span><i class="fa fa-times right" ng-click="deleteHora(hora.codhora)"></i></a>
    </div>


    <div class="collection col s6">
      <a href="#!" ng-repeat="tarefa in tarefas" class="collection-item">{{tarefa.descricao}}
      <span class="blue new badge" data-badge-caption="">{{tarefa.dia}}</span><i class="fa fa-times right" ng-click="deleteTarefa(tarefa.codtarefa)"></i></a>
    </div>


    <div class="collection col s3"> 
      <a href="#!" ng-repeat="custo in custos" class="collection-item">{{custo.descricao}}
      <span class="green new badge" data-badge-caption="">{{custo.valor | currency: 'R$'}}</span><i class="fa fa-times right" ng-click="deleteCusto(custo.codcusto)"></i></a>
    </div>

</div>

</div>

