<div class="user" ng-controller="homeCtrl">

    
    <div class="blue white-text card card-2 col-xs-2" >
        <div class="card-heading">Salário</div>
        <div class="card-body">
            <h4 class="card-title">5 Horas</h4>       
        </div>
    </div>    

    <div class="blue white-text card card-2 col-xs-2" >
        <div class="card-heading">Salário</div>
        <div class="card-body">
            <h4 class="card-title">5 Horas</h4>       
        </div>
    </div>    

    <div class="blue white-text card card-2 col-xs-2" >
        <div class="card-heading">Salário</div>
        <div class="card-body">
            <h4 class="card-title">5 Horas</h4>       
        </div>
    </div>    

    <div class="blue white-text card card-2 col-xs-2" >
        <div class="card-heading">Salário</div>
        <div class="card-body">
            <h4 class="card-title">5 Horas</h4>       
        </div>
    </div>    

    <div class="blue white-text card card-2 col-xs-2" >
        <div class="card-heading">Salário</div>
        <div class="card-body">
            <h4 class="card-title">5 Horas</h4>       
        </div>
    </div>    

    <div class="blue white-text card card-2 col-xs-2" >
        <div class="card-heading">Salário</div>
        <div class="card-body">
            <h4 class="card-title">5 Horas</h4>       
        </div>
    </div>

</div>